<!-- Navigation-->

<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-custom fixed-top" id="sideNav">
    <a class="navbar-brand" href="#page-top">
        <span class="d-block d-lg-none">{{name}} {{lastName}} </span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                src="assets/img/profile.jpg" alt="" /></span>
    </a>


    <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]=isCollapsed>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about"
                    (click)="navBarItemClick('about')">Acerca de mi</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="navBarItemClick('experience')"
                    href="#experience">Proyectos de Software</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="navBarItemClick('education')"
                    href="#education">FORMACIÓN ACADÉMICA</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="navBarItemClick('skills')"
                    href="#skills">Skills</a></li>
        </ul>
    </div>
</nav>



<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">


        <div class="resume-section-content ">


            <div class="d-lg-none ">

                <div class="">
                    <span class=" w-50">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg"
                            alt="" /></span>
                </div>

                <h2 class="mb-0 ">
                    {{name}}
                    <span class="text-primary">{{lastName}}</span>
                </h2>
               <h4 class="mb-0">
                    Programador Analista en Supertex El Salvador
                </h4>
                <div class="subheading mb-5 ">
                    <span class="mr-1">{{address}}</span>

                    <a href="mailto:lehm1091@gmail.com">{{email}}</a>


                </div>


            </div>

            <div class="  d-none d-lg-block">



                <h1 class="mb-0 ">
                    {{name}}
                    <span class="text-primary">{{lastName}}</span>
                </h1>
                <div class="subheading mb-5 ">
                    <span class="mr-1">{{address}}</span>

                    <a href="mailto:lehm1091@gmail.com">{{email}}</a>




                </div>

            </div>

            <p class="mb-5">{{introduction}}</p>






            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/luis-edgardo-hernandez-menendez-5a462511b/"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/lehm1091"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://twitter.com/LuisHer26141875"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://www.facebook.com/lehm0"><i class="fab fa-facebook-f"></i></a>
            </div>
            <p class="my-4">
                <a class="" href="https://drive.google.com/file/d/1_f14kthyRWVgJagT61dZMWX8uOqgBlZB/view?usp=sharing">
                    Curriculum Vitae
                    <i class="fas fa-file-pdf"></i></a>
            </p>


        </div>


    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Proyectos de Software</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Sistema de nutrición con estadísticas de alimentos</h3>
                    <div class="subheading mb-3"></div>
                    <ul>
                        <li>
                            Este fue un proyecto personal que permitía mantener una base de datos de diferentes
                            alimentos, gestionarlos, compararlos,
                            así como generar estadísticas y gráficos nutricionales.

                        </li>
                        <li>
                            Aprendí a utilizar Spring Security en combinación con JWT para desarrollar la capacidad de
                            hacer registro y login a los
                            usuarios.

                        </li>
                        <li>
                            Este proyecto estaba dividido en un backend de Spring boot, y un Front end en Angular, asi
                            que fue un gran reto
                            desarrollarlo y además integrar el soporte para JWT.
                        </li>

                    </ul>
                </div>
                <div class="flex-shrink-0"><a class="card-link" href="https://nutrition-app-lehm.herokuapp.com/">
                        Visitar ejemplo
                    </a></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Gestión de publicaciones para libros con API REST</h3>
                    <div class="subheading mb-3"></div>
                    <ul>
                        <li>
                            Este fue un proyecto personal que consistía actualizar el sistema de gestión de libros,
                            puesto que se dividió el sistema en un
                            backend funcionando como servicios Rest, y un frontend para el usuario.

                        </li>
                        <li>
                            Aprendí a desarrollar tecnologías el backend usando Spring API Rest y a utilizar el
                            framework de Angular para el frontend.

                        </li>
                        <li>
                            Fue todo un reto actualizar la lógica de programación tradicional monolítica.
                        </li>

                    </ul>
                </div>

            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Gestión de publicaciones para libros</h3>
                    <div class="subheading mb-3"></div>
                    <ul>
                        <li>
                            Este proyecto permitía gestionar la publicación de libros, y algunas de las tareas
                            soportadas consistían en crear registros,
                            editarlos, borrarlos, y cambiar el estado de la publicación a través de una página web.

                        </li>
                        <li>
                            Desarrolle mis habilidades aprendiendo Spring Boot, Thymeleaf, Boostrap y Oracle.
                        </li>
                        <li>
                            Este proyecto también tenía como objetivo ser utilizado como ejemplo para las clases.
                        </li>
                        <li>
                            Un notable reto fue crear la interfaz gráfica utilizando el MVC de Spring ya que era muy
                            diferente de trabajar con
                            componentes en JSF.
                        </li>

                    </ul>
                </div>

            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Aplicación web para gestión de productos, proveedores e inventario</h3>
                    <div class="subheading mb-3"></div>
                    <ul>
                        <li>
                            Programe una aplicación web para hacer tareas CRUD para productos, proveedores e
                            inventarios.
                        </li>
                        <li>
                            Gane conocimientos acerca de JAVA EJB’s, JPA/Hibernate.
                        </li>
                        <li>
                            El objetivo de este proyecto es que sería utilizado para las clases de programación que
                            impartía.
                        </li>
                        <li>
                            Como reto las tablas que mostraban datos debían comportarse de forma dinámica, soportar
                            filtros, y paginación.
                        </li>

                    </ul>
                </div>

            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Sistema de citas medicas</h3>
                    <div class="subheading mb-3"></div>
                    <ul>
                        <li>
                            Fue una aplicación web hecha para una clínica dental y gestionaba pacientes, expedientes, y
                            citas.
                        </li>
                        <li>
                            Aprendí a utilizar Java EE, JSF/Primefaces, MySQL, Spring Security, entre otros.
                        </li>
                        <li>
                            Uno de los retos fue adaptar los componentes de Primefaces para hacer la interfaz de la
                            agenda.
                        </li>

                    </ul>
                </div>

            </div>


        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Formación Académica</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Universidad de El Salvador</h3>
                    <div class="subheading mb-3"></div>
                    <div>Ingeniería en Sistemas Informáticos</div>
                    <p>I30515</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"><a class="card-link"
                            href="https://drive.google.com/file/d/1BT4a2n_NgacoQ1wkNcJ4lcDrE_Q86sJ3/view?usp=sharing">Archivo
                            Adjunto</a></span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Centro Escolar INSA</h3>
                    <div class="subheading mb-3">Bachillerato General</div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"><a class="card-link"
                            href="https://drive.google.com/file/d/1cBxiEEkGQXG3KZAVPLQ-rHbEs1SI8_x0/view?usp=sharing">Archivo
                            Adjunto</a></span></div>
            </div>
            <h2 class="my-5">Cursos, seminarios y otros</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">

                    <h3 class="mb-0">Técnico de Mantenimiento y reparación de computadoras</h3>
                    <div class="subheading mb-3">ITCA</div>

                    <h3 class="mb-0">Universidad Java: De Cero a Master</h3>
                    <div class="subheading mb-3">Udemy.com</div>

                    <h3 class="mb-0">Spring Framework creando webapp de cero a experto</h3>
                    <div class="subheading mb-3">Udemy.com</div>

                    <h3 class="mb-0">Seminario de fianzas básicas</h3>
                    <div class="subheading mb-3">Universidad de El Salvador</div>




                </div>

            </div>


        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Lenguajes de programacion y herramientas</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                <li class="list-inline-item"><i class="devicon-bootstrap-plain"></i></li>
                <li class="list-inline-item"><i class="fab fa-java"></i></li>
                <li class="list-inline-item"><i class="devicon-mysql-plain"></i></li>
                <li class="list-inline-item"><i class="devicon-oracle-original"></i></li>
                <li class="list-inline-item"><i class="devicon-github-plain"></i></li>
                <li class="list-inline-item"><i class="devicon-heroku-original"></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <strong>Front End:</strong>Angular, Thymeleaf, JSF/Primefaces, HTML, CSS/SASS/Boostrap, JQuery,
                    Typescript, JavaScript

                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <strong>Back End:</strong> Java, Java EE, PHP, Spring boot,
                    Spring REST API, JAX-RS, JAX-WS(Soap), EJB, JPA/ Hibernate/Spring Data


                </li>

                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <strong>Bases de datos:</strong> MySQL, Oracle, SQL
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <strong>Seguridad:</strong> Spring Security, JSON Web Tokens
                </li>


                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <strong>IDE’s:</strong> Netbeans, Eclipse, Visual Studio Code, Atom
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <strong>API’s/Frameworks:</strong> EJB, JPA/ Hibernate/Spring
                    Data.

                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <strong>Patrones:</strong> MVC, SOLID, Capas,ACID

                </li>
            
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <strong>Servicios en nube:</strong> AWS, Heroku

                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <strong>Servidores de aplicaciones:</strong> Glassfish, Apache Tomcat

                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <strong>Control de versiones:</strong> Git/GitHub
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Soporte Técnico
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Windows, Linux

                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Photoshop
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Vegas
                </li>

            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Intereses</h2>
            <p>A parte de ser un desarollador web, disfruto del ejercicio y me interesa mucho llevar un estilo de vida
                saludable por lo que muchas veces me encuentro leyendo acerca del valor nutricional de los alimentos asi
                como llevando un registro de mis comidas diarias.</p>
            <p class="mb-0">
                Me gusta mucho la tecnología, y cuando se trata de computadoras soy de los que prefieren armarlas ellos
                mismos a comprar equipos preensamblados. </p>
        </div>
    </section>
    <hr class="m-0" />


</div>
